@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 165 17% 95%;
    --foreground: 224 71% 4%;
    --card: 165 17% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 165 17% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 181 49% 49%;
    --primary-foreground: 180 100% 99%;
    --secondary: 165 17% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 165 17% 85%;
    --muted-foreground: 224 71% 25%;
    --accent: 16 83% 63%;
    --accent-foreground: 355 78% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 165 17% 88%;
    --input: 165 17% 88%;
    --ring: 181 49% 49%;
    --chart-1: 181 49% 49%;
    --chart-2: 16 83% 63%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 165 17% 98%;
    --sidebar-foreground: 224 71% 10%;
    --sidebar-primary: 181 49% 49%;
    --sidebar-primary-foreground: 180 100% 99%;
    --sidebar-accent: 165 17% 92%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 165 17% 88%;
    --sidebar-ring: 181 49% 49%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 181 49% 49%;
    --primary-foreground: 180 100% 99%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 16 83% 63%;
    --accent-foreground: 355 78% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 181 49% 49%;
    --chart-1: 181 49% 49%;
    --chart-2: 16 83% 63%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 181 49% 49%;
    --sidebar-primary-foreground: 180 100% 99%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 181 49% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
